html {
  font-family: Helvetica;
}
h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  background-image: url("../pattern.jpeg");
  text-align: center;
  }
h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}
.brush {
  background-color: mediumspringgreen;
}
#price {
  font-weight: bold;
  color: blue;
}
.frames {
  background-color: lightcoral;
}
.paint {
  background-color: skyblue;
}
